.mySlides {
  display: none;
  max-height: 800px;
}

@keyframes opacity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*.hide {
  opacity: 0;
}

.video-box {
  position: relative;
  max-height: 800px;
  margin-bottom: 0px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(64, 64, 64, 0);
  border: 2px solid #179cab;
  z-index: 2;
  color: #179cab !important;
  filter: brightness(200%);
}

/* Position the "next button" to the right */
.slideshow-container .next {
  right: 2%;
  border-radius: 50%;
}
.slideshow-container .prev {
  left: 1%;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  z-index: 2;
  font-size: 4vw;
  padding: 8px 12px;
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 30%;
  filter: brightness(120%);
  -webkit-text-stroke: 1px #231f20;
}

.numbertext {
  color: #fff;
  z-index: 2;
  background-color: rgba(64, 64, 64, 0);
  font-size: 3vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.slide-btn {
  position: absolute;
  background-color: transparent;
  border: 2px solid #179cab;
  -webkit-text-stroke: 0.2px #231f20;
  padding: 10px 20px;
  font-size: 1.4vw;
  color: white !important;
  bottom: 5%;
  left: 6.5%;
  z-index: 20;
  filter: brightness(220%);
  background: #1e1e1e3c;
}

.slideshow-content {
  color: #f2f2f2;
  background-color: rgba(64, 64, 64, 0);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 30%;
}

/* The dots/bullets/indicators */
.slides_dots {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.slide_active,
.dot:hover {
  background-color: #46afec;
}

.mySlides img {
  /* max-height: 800px;
  min-height: 800px; */
  object-fit: cover;
  bottom: 0;
  animation-name: opacity1;
  animation-duration: 1s;
}

.mySlides img::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(15, 15, 15, 1);
}

.video-box .yellow-bg {
  width: 100%;
  height: 200px;
  z-index: 50;
  background: #edb230;
  background: #fff;
}

.video_nav {
  position: absolute;
  z-index: 700;
  display: flex;
  width: 70%;
  background-color: #179cab;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px 0px 20px 20px;
}
.video_nav .nav.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.video_nav .nav.navbar-nav li {
  padding: 20px;
  /* margin: 10px; */
}

.video_nav .nav.navbar-nav li a {
  color: #fff;
  font-size: 0.8rem;
  position: relative;
  padding: 0;
}
.video_nav .nav.navbar-nav li.active a {
  padding: 2px 10px;
  border-radius: 20px;
  background: #edb230;
}
.video_nav .nav.navbar-nav li:hover a {
  cursor: pointer;
}

.video_nav .nav.navbar-nav li a::after {
  display: none;
}

.video_nav .nav > li .sub-menu li {
  padding: 0 10px;
}

.welcome-ottimo {
  /* width: 100%; */
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  position: absolute;
  z-index: 20;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: inherit auto;
  color: #179cab;
  filter: brightness(100%);
}

.social-nav {
  position: absolute;
  right: 0%;
  bottom: 25%;
  z-index: 30;
}

.mail-link {
  position: absolute;
  bottom: -50%;
  right: 10%;
}

.text-content-box {
  width: 100%;
  background: url(../img/home/welcomebg.png);
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(100%);
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.text-content-box::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(6, 56, 75, 0.4);
}

.text-content-box h2 {
  font-size: 4rem;
  position: relative;
  letter-spacing: 3px;
}
.text-content-box h3 {
  font-size: 3rem;
  position: relative;
  letter-spacing: 2px;
}
.text-content-box p {
  position: relative;
  font-style: italic;
  font-size: 1.3rem;
}

.btn-read-more {
  position: relative;
  width: max-content;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  background-color: white;
  color: #46afec;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
}

.app-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 50px;
}

.home-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
}

.img-card {
  position: relative;
  height: 300px;
}

.img-card img {
  object-fit: cover;
  height: 300px;
}

.img-card .img-text {
  position: absolute;
  bottom: 0;
  font-size: 3.5rem;
  color: white;
  font-weight: 800;
  margin: 10px 10px;
}

.home-card-text {
  margin-top: 20px;
  font-size: 15px;
  color: black;
}

.info-content-box {
  display: flex;
  width: 100%;
  background-color: #e4a41b;
  align-items: center;
  margin: 100px 0px;
  position: relative;
}

.about-info {
  background-color: #fff;
  margin-top: 0;
}
.about-heading {
  color: #000;
  padding: 20px;
  margin-top: 40px;
}

.info-content-box img {
  width: 55%;
  height: 700px;
  overflow: hidden;
  object-fit: cover;
}

.info-content-text * {
  color: black;
  right: 0;
  margin-left: auto;
  left: 0;
}

/* .info-content-box::before{
  content: '';
  position: absolute;
  width: 10%;
  height: 300px;
  background: #e4a41b;
  left: 45%;
  top: 50%;
  transform: translateY(-50%) rotate(-20deg);
} */

.info-content-box .info-content-text {
  width: 45%;
  padding: 40px;
  box-sizing: border-box;
  font-size: 1rem;
}

.our-team-box .info-content-text {
  width: 40%;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0px 30px 30px 0px;
}
.our-team-box p {
  padding-bottom: 0;
  font-size: 0.8rem;
}
.our-team-box img {
  height: auto;
}

.our-team-title {
  color: #179cab;
  font-size: 3rem;
  position: relative;
  padding-bottom: 40px;
}

.our-team-title::before {
  content: "";
  background-color: #e4651b;
  width: 7%;
  height: 10px;
  position: absolute;
  bottom: 20px;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.gallery-social {
  display: flex;
  flex-direction: column;
  background: url(../img/home/gallerybg.jpg.png);
  background-position: right;
  height: 100%;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  line-height: 0.9;
  padding: 70px;
  border-top-right-radius: 50px;
}

.header-nav .nav.social-links li:hover i {
  color: white;
}

.gallery-social .more-text {
  position: relative;
  font-size: 5.5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
}
.gallery-social .work-text {
  font-size: 1.7rem;
}

.gallery-social .social-icons {
  padding: 20px;
}
.gallery-social .social-icons i {
  padding: 10px 10px 10px 14px;
  border-radius: 40px 40px 40px 40px;
  margin: 10px 0px;
  background-color: #46afec;
}
.gallery-social .social-icons i:hover {
  background-color: #edb230;
  cursor: pointer;
  padding: 10px 10px 10px 14px;
  border-radius: 40px 40px 40px 40px;
  margin: 10px 0px;
}
.gallery-social .social-icons i::before {
  align-self: center;
}

.gallery-part {
  padding: 0px 20px 0px 50px;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

#mobile-nav {
  display: none;
}

.video-box .logo-header {
  position: absolute;
  z-index: 500;
  bottom: 15%;
  left: 2%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 756px) {
  .slides_dots {
    display: none;
  }
  .slideshow-content {
    padding: 8px 12px;
    position: absolute;
    bottom: 0 !important;
    right: 0;
    top: auto;
    height: 20%;
    min-width: 100%;
  }
  .text {
    font-size: 30px;
    padding: 20px 22px;
    position: absolute;
    width: 100%;
    right: 0px;
    top: auto;
    left: auto;
    bottom: 0px;
    height: 35%;
  }
  .slide-btn {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery-social {
    display: none;
  }

  .gallery-part {
    padding: 0px 20px 20px 50px;
  }
}
@media screen and (max-width: 1220px) {
  .video_nav .nav.navbar-nav li {
    padding: 20px 10px;
  }
  .social-nav .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .video-box .yellow-bg {
    height: 70px;
  }
}
@media screen and (max-width: 700px) {
  .welcome-ottimo {
    font-size: 2.5rem;
  }
  .prev,
  .next {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .footer-bottom-logo {
    text-align: center;
  }
  .site-footer .footer-bottom-in .footer-copyright {
    margin: 0 auto;
  }
  .home-contact-btn {
    /* width: 100%; */
    margin: 20px auto !important;
  }
  .info-content-box {
    flex-direction: column;
    height: fit-content;
  }
  .info-content-box img {
    width: 100%;
  }
  .info-content-box .info-content-text {
    width: 100%;
  }

  .our-team-box .info-content-text {
    margin-top: 0px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 0px;
  }
  .our-team-box {
    padding: 20px 0px 10px !important;
  }
}
@media screen and (max-width: 990px) {
  #mobile-nav {
    display: block;
  }
  .social-links {
    flex-direction: row;
  }
  .social-links li a span,
  .header-nav .nav i {
    color: #000;
  }
  .video_nav {
    display: none;
    z-index: -10;
    position: relative;
  }
  .welcome-ottimo {
    top: 5%;
  }
  .social-nav {
    display: none;
  }
  .mail-link {
    display: none;
  }
}

.prod-detail-row {
  display: flex;
  flex-direction: row;
}

.zinc-detail {
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: 100%;
  justify-content: end;
}

.zinc-detail h2 {
  font-size: 4rem;
  letter-spacing: 3px;
  line-height: 1;
}

.zinc-detail .info-box {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.zinc-detail .info-box li {
  padding: 20px 10px;
  margin-left: 30px;
  position: relative;
  list-style: none;
}

.zinc-detail .info-box li::before {
  content: "";
  background-color: red;
  font-weight: bold;
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin-right: 1em;
}

.zinc-detail .info-box li::after {
  content: "";
  position: absolute;
  background-color: black;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  height: 1px;
  right: -40px;
  bottom: 0;
  margin: 10px 0px;
}

.prod-details-bg {
  background: url(../img/blog/grid/slidewire4.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.product-properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 50px;
  margin-bottom: 0;
  background-color: #231f20;
  border-radius: 30px 30px 0px 0px;
  justify-content: space-between;
}

.physical-prop,
.mech-prop {
  width: 50%;
  padding-bottom: 40px;
}

.chem-prop-row {
  margin-top: 0;
  border-radius: 0px;
}

.chemical-prop {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chemical-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.chem-table2 tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.chem-table2 tr {
  display: flex;
  flex-direction: column;
}

.chemical-table td,
th {
  border: 1px solid white;
}
.prop-list td,
th {
  /* border: 1px solid white; */
  vertical-align: top;
}

.product-range-bg .prop-list {
  border: none;
}

.chemical-table table {
  display: flex;
  justify-content: center;
  color: #fff;
}
.chemical-table th {
  padding: 20px;
}
.chemical-table td {
  padding: 22px;
}

.chemical-table .chem-table2 {
  display: none;
}

.chemical-table h2 {
  margin: 20px;
}

.prop-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}
.prop-heading img {
  width: 60px;
}
.mech-prop .prop-heading img {
  width: 72px;
}
.prop-heading h2 {
  font-size: 2.5rem;
  letter-spacing: 2;
  color: #fff;
  text-align: center;
  margin: 0;
}
.prop-heading .prop-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e4651b;
}

.prop-list ul li {
  list-style: none;
  color: #fff;
  padding: 20px 0px;
}

.prop-list {
  border-right: 1px solid #e4651b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chemical-prop .prop-list ul li {
  display: flex;
  flex-wrap: wrap;
}

.product-range-bg {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 40px;
  background: url(../img/product_details/prod_range.jpg);
  margin: 0px;
  margin-bottom: 100px;
}

.product-range-bg.prod_units {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 40px;
  background: url(../img/product_details/prod_units.jpg) no-repeat center;
  margin: 0px;
  margin-bottom: 100px;
  /* align-items: center; */
}

.product-range-bg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.prod-range,
.packaging {
  position: relative;
  width: 50%;
  padding: 20px;
}

.prod-range-title,
.packaging h2 {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 2px;
  padding-bottom: 20px;
  position: relative;
}

.prod-range-title::before {
  content: "";
  background-color: #e4651b;
  width: 7%;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.prod-info {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}

.prod-info ul {
  border-radius: 10px;
  background-color: #fff;
}

.prod-info ul li {
  list-style: none;
  color: #000;
  padding: 20px;
  font-weight: normal;
  position: relative;
}

.prod-info ul li::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: black;
  bottom: 0px;
}
.prod-info ul li:last-child:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0px;
  background-color: black;
  bottom: 0px;
}

.prod-row {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0px 50px;
  padding-bottom: 50px;
}

.prod-row h2 {
  font-size: 3rem;
  width: 100%;
  letter-spacing: 3px;
  padding: 20px;
}
.prod-row .prod-range div,
.prod-row .packaging div {
  font-size: 0.9rem;
  color: black;
  font-weight: 300;
  line-height: 2;
}

.prod-row .prod-range div b {
  font-size: 1.3rem;
  font-weight: 500;
}

.quality-row {
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.quality-row h2 {
  margin-left: 60px;
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 20px;
}

.quality-bar {
  background-color: #231f20;
  display: flex;
  padding: 30px 40px;
  width: 90%;
  border-radius: 0px 100px 100px 0px;
  align-items: center;
  margin-top: 50px;
}

.quality-bar img {
  width: 100px;
  height: 100px;
}

.quality-bar p {
  padding: 20px;
  font-size: 1.4rem;
  color: white;
  margin-left: 40px;
  font-weight: 200;
}

.navbar-toggler {
  position: absolute;
  filter: brightness(200%);
  z-index: 500;
  scale: 2;
  top: 5%;
  right: 5%;
}

.site-header {
  display: none;
}

@media screen and (max-width: 990px) {
  .product-properties {
    flex-direction: column;
    margin: 0;
  }
  .prop-heading,
  .quality-bar {
    flex-direction: column;
  }
  .physical-prop,
  .mech-prop {
    width: 100%;
  }
  .product-range-bg,
  .product-range-bg.prod_units {
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
  }
  .prod-range,
  .packaging,
  .quality-bar {
    width: 100%;
  }
  .quality-bar {
    border-radius: 0px;
  }
  .quality-bar p {
    margin: 0;
    padding: 0;
  }
  .site-header {
    display: block;
  }
  .video-box .logo-header {
    display: none;
  }
  .chemical-table .chem-table1 {
    display: none;
  }
  .chemical-table .chem-table2 {
    display: flex;
  }
}

.app-card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 50px;
}

.app-text {
  padding: 20px;
  width: 100%;
  color: #000;
}

.app-text b {
  line-height: 0;
  font-size: 1.4rem;
}

.img-card img {
  filter: brightness(0.8);
}

.img-card .img-text {
  font-size: 1.5rem;
  bottom: -20px;
  filter: brightness(2);
}

.home-card-text {
  font-size: 14px;
  text-align: justify;
}

.services-sec {
  background-color: #231f20;
  color: #fff;
  position: relative;
  margin-bottom: 50px;
}

.serv-range-title {
  position: relative;
  color: #fff;
}

.serv-range-title::before {
  content: "";
  background-color: #179cab;
  width: 7%;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.service-text {
  padding: 20px;
  width: 100%;
  color: #fff;
}

.serv-card-text {
  color: #fff;
}

.serv-card .img-card img {
  border-radius: 20px 20px 0px 0px;
}

.serv-card-text .serv-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #edb230;
  padding: 0;
}

.service-end-text {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  color: #fff;
  background-color: #179cab;
  padding: 40px 50px;
  border-radius: 100px;
}

@media screen and (max-width: 1200px) {
  .service-end-text {
    position: relative;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .prod-row .app-card-row {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .app-card-row {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .prod-row {
    padding: 0px 10px;
  }
  .quality-row h2 {
    margin: 10px;
  }
  .prod-row {
    justify-content: center;
  }
  .welcome-ottimo {
    font-size: 1.5rem;
  }
  .contact-info {
    flex-direction: column;
  }
  .dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry h1 {
    font-size: 1.6rem;
    line-height: normal;
  }
  .dlab-bnr-inr.no-bg-bnr .dlab-bnr-inr-entry p {
    font-size: 0.8rem;
    line-height: normal;
  }
}

/* about */
.about-container {
  max-width: 100%;
  margin-top: 50px;
  background: url(../img/slide/slidewire1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}

.about-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(1, 1, 1, 0.9);
}

.about-container .row {
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

.about-container .row > div {
  padding: 30px 15px;
  text-align: center;
}

.our-team-box {
  padding: 50px 0px;
  margin-bottom: 0;
}

.commitment-sec {
  margin: 50px 0px;
}
.about-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-core {
  width: 50%;
}
.about-core .info-box .title {
  margin: 10px 0;
  letter-spacing: 2px;
}
.about-core .info-box {
  width: 90%;
  text-align: justify;
}
.about-core .info-box p {
  margin-bottom: 50px;
}

.about-core .client-focus {
  margin-top: 50px;
}

.prod-images {
  width: 100%;
  text-align: center;
  /* font-size: 4rem; */
  padding: 20px 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #000;
  margin: 0px 0px 40px;
}

.product-box {
  margin-top: 0;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.product-box .product-content {
  width: 60%;
  flex-wrap: wrap;
  height: 400px;
  padding: 0px 80px;
}

.product-box .product-content p {
  width: 80%;
  margin-left: 0;
}

.product-box .prod-img {
  background-color: #179cab;
  position: relative;
  width: 40%;
}
.prod-img img {
  position: absolute;
  width: 100%;
  height: 300px;
  left: -100px;
  top: 50px;
}

.product-title {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 50px 0px;
  position: relative;
}
.product-title::before {
  content: "";
  background-color: #e4a41b;
  width: 10%;
  height: 10px;
  position: absolute;
  bottom: -20px;
}
.product-title2 {
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.form-image {
  display: flex;
  width: 100%;
  background-color: #231f20;
  height: 300px;
  align-items: center;
  margin-bottom: 30px;
}
.form-image h1 {
  width: 50%;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.form-image img {
  width: 50%;
  overflow: hidden;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .about-row {
    flex-direction: column-reverse;
  }
  .about-core {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .product-box {
    margin-top: 0;
  }
  .product-box .product-content {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .prod-img img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
  }
}

/*** Footer ***/
.footer {
  /* background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/map.png) center center no-repeat; */
  background-color: black;
  background-size: cover;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
  transform: scale(1.05);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.locations {
  background-color: #fff;
  color: #000;
}

.footer-heading {
  padding: 0;
  margin: 0;
  color: #179cab;
  font-size: 30px;
}

.footer p {
  color: #fff;
}

.footer-top .container-fluid .row div {
  margin-top: 10px;
}



.application .owl-nav{
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
/* 
.owl-carousel{
  background-color: grey;
} */

.application .owl-item{
  transform: scale(0.7);
  filter: blur(2px);
  margin-top: 0;
  padding: 10px;
}
.application .active ~ .active:not(.active ~ .active ~ .active) {
  transform: scale(0.9);
  filter: blur(0px);
}

.application .owl-prev, .owl-next{
  padding: 5px 10px;
  font-size: 3rem;
  margin: 0;
  background-color: #179cab;
}


.application .owl-dots {
  text-align: center;
  margin-top: 3%;
  margin: 0;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.application .owl-dot {
  display: inline-block;
  height: 20px !important;
  width: 20px !important;
  background-color: #fff !important;
  opacity: 0.8;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(97, 97, 97, 0.571);
}
.application .owl-dot.active {
  background-color: #179cab !important;
  box-shadow: 0px 0px 20px rgba(20, 205, 208, 0.571);
}

/* .about-vision-bg{
  padding: 30px 15px;
  background: url(../img/blog/grid/slidewire2.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-mission-bg{
  padding: 30px 15px;
  background: url(../img/blog/grid/slidewire1.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-team-bg{
  padding: 30px 15px;
  background: url(../img/blog/grid/slidewire4.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .about-bg::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(1,1,1,0.4);
} */
